.emplacement-img {
  height: 650px;
}

.emplacement-content {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 12px;
  margin-left: 48px;
}

.map-emplacement {
}
