.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.footer {
  color: white;
  background-color: black;
}

.legal-footer {
  text-align: center;
  padding: 8px 0;
}
